<div class="signup-title">
	Sign up
</div>

<mat-horizontal-stepper linear #stepper>
	<mat-step label="">
		<form class="signup-form">
			<mat-form-field appearance="fill">
				<mat-label>Phone number</mat-label>
				<span matPrefix>+91 &nbsp;</span>
				<input type="tel" matInput placeholder="555-555-1234" maxLength="10">
				<mat-icon matSuffix>phone</mat-icon>
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Enter your password</mat-label>
				<input matInput [type]="hidePassword ? 'password' : 'text'" maxLength="6"
         size="6">
				<button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
			</mat-form-field>
		</form>
	</mat-step>
	<mat-step>
	</mat-step>
</mat-horizontal-stepper>